[submodule "lisp/emacs-bash-completion"]
	path = lisp/emacs-bash-completion
	url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "lisp/js2-mode"]
	path = lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
